<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<!--
      Defined in Setup.wxs, the "TARGETDIR" is not actually created, it's just a crutch
      in WiX to allow the files to share a common root
    -->
		<DirectoryRef Id="TARGETDIR">
			<!--
        ProgramMenuFolder is a special name that resolves to the start menu folder.
        The files (see below) can indicate that they want a shortcut created in
        another folder. By defining this folder, we can make them put a shortcut
        into the start menu!
      -->
			<Directory Id="DesktopFolder" Name="Desktop"/>

			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="MyGameProgramMenuFolder" Name="Reator Multimidia" DiskId="1">
					<Component Guid="43A66A92-154F-4CB8-9F8F-4710ED25C98A" Id="ComponenteIniciar" DiskId="1">
						<RemoveFolder Id="MyGameProgramMenuFolder" On="uninstall" />
						<RegistryValue Root="HKCU" Key="SOFTWARE\Reator Multimidia" Type="string" Value="rcdmk" KeyPath="yes" />
					</Component>
					<Directory Id="MyGameProgramMenuSubFolder" Name="O Sistema" DiskId="1">
						<Component Id="StartMenuEntriesComponent" Guid="110bac17-cb20-4514-8241-ebe966113744">
							<RegistryValue Root="HKCU" Key="SOFTWARE\Reator Multimidia\O Sistema" Type="string" Value="rcdmk" />
							<RemoveFolder Id="MyGameProgramMenuSubFolder" On="uninstall" />
							<Shortcut Id="UninstallProduct" Name="Desinstalar O Sistema" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Directory="MyGameProgramMenuSubFolder" Description="Desinstalar O Sistema" /> 
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<!--
        ProgramFilesFolder is a special name that is resolved to the system's
        programs folder. This entry makes sure that INSTALLDIR, displayed in
        directory selection dialog, initially points to "C:\Program files\O Sistema".
        Note that this does not prevent the user from selecting an entirely
        different path like "D:\Games\O Sistema".
      -->
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<!--
          Target directory you game will be installed to. Create more <Directory />
          elements below this one to create subdirectories or add <File /> elements
          to add files to a directory
        -->
				<Directory Id="PARENTINSTALLDIR" Name="Reator Multimidia">
					<Directory Id="INSTALLDIR" Name="O Sistema">
						<!--
            Any <File /> element must be contained in a <Component /> element.
            Components are entirely internal to the installs and group inseperable
            partS of your game. For example, you could have 4 components:
            "shared", "game", "editor" and "docs".

            An installer then sets up a series of features (see <Feature /> in Setup.wxs),
            where each feature points to a number of components. Following the previous
            example, two features named "game" and "editor" could be imagined where
            both point to the "shared" component and to their own component.
          -->
						<Directory Id="Content" Name="Content">
							<Directory Id="Sons" Name="Sons">
								<Directory Id="SonsAgua" Name="Agua">
									<Component Guid="826EA594-EF14-49CC-9759-6C82B43B333D" Id="ComponenteSonsAgua" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Agua/agua.xnb" Name="agua.xnb" Id="agua.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Agua/arrastar.xnb" Name="arrastar.xnb" Id="arrastar.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Agua/arrastar_leve.xnb" Name="arrastar_leve.xnb" Id="arrastar_leve.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Agua/goteira.xnb" Name="goteira.xnb" Id="Sonsgoteira.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Agua/impacto_agua_leve.xnb" Name="impacto_agua_leve.xnb" Id="impacto_agua_leve.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Agua/impacto_agua_pesado.xnb" Name="impacto_agua_pesado.xnb" Id="impacto_agua_pesado.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Agua/vidro_quebrando.xnb" Name="vidro_quebrando.xnb" Id="vidro_quebrando.xnb" />
									</Component>
								</Directory>
								<Directory Id="SonsGeral" Name="Geral">
									<Component Guid="39C0C6E7-44EE-461E-A29F-7E7BC544689A" Id="ComponenteSonsGeral" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/caindo.xnb" Name="caindo.xnb" Id="caindo.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/elevador_edit.xnb" Name="elevador_edit.xnb" Id="elevador_edit.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/escada.xnb" Name="escada.xnb" Id="escada.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/golpe.xnb" Name="golpe.xnb" Id="golpe.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/item.xnb" Name="item.xnb" Id="item.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/moeda.xnb" Name="moeda.xnb" Id="Sonsmoeda.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/morrendo.xnb" Name="morrendo.xnb" Id="morrendo.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/pegando_item.xnb" Name="pegando_item.xnb" Id="pegando_item.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/porta mecanica_edit.xnb" Name="porta mecanica_edit.xnb" Id="porta_mecanica_edit.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Geral/porta_edit.xnb" Name="porta_edit.xnb" Id="porta_edit.xnb" />
									</Component>
								</Directory>
								<Directory Id="SonsMenus" Name="Menus">
									<Component Guid="A074B6B6-B732-4F51-8A46-06ACF3356223" Id="ComponenteSonsMenus" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Menus/confirmar.xnb" Name="confirmar.xnb" Id="confirmar.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Menus/menu_navegacao.xnb" Name="menu_navegacao.xnb" Id="menu_navegacao.xnb" />
									</Component>
								</Directory>
								<Directory Id="Musicas" Name="Musicas">
									<Component Guid="5EB6D259-7417-4204-9F26-B83E50589F42" Id="ComponenteSonsMusicas" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/introdution2.wma" Name="introdution2.wma" Id="introdution2.wma" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/introdution2.xnb" Name="introdution2.xnb" Id="introdution2.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/som12.wma" Name="som12.wma" Id="som12.wma" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/som12.xnb" Name="som12.xnb" Id="som12.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/som2.wma" Name="som2.wma" Id="som2.wma" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/som2.xnb" Name="som2.xnb" Id="som2.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/som6.wma" Name="som6.wma" Id="som6.wma" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Musicas/som6.xnb" Name="som6.xnb" Id="som6.xnb" />
									</Component>
								</Directory>
								<Directory Id="SonsRoldanas" Name="Roldanas">
									<Component Guid="A602D643-CBE2-40BB-A5A5-17A742BC44E7" Id="ComponenteSonsRoldanas" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sons/Roldanas/roldana_edit.xnb" Name="roldana_edit.xnb" Id="roldana_edit.xnb" />
									</Component>
								</Directory>
							</Directory>
							<Directory Id="Sprites" Name="Sprites">
								<Directory Id="SpritesAgua" Name="Agua">
									<Component Guid="5DB5CFF8-C3E7-4679-A510-4B0980EFF09A" Id="ComponenteSpritesAgua" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/AGUA_CHEIA.xnb" Name="AGUA_CHEIA.xnb" Id="AGUA_CHEIA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/AGUA_CONJUNTO.xnb" Name="AGUA_CONJUNTO.xnb" Id="AGUA_CONJUNTO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/AGUA_CONJUNTO_P.xnb" Name="AGUA_CONJUNTO_P.xnb" Id="AGUA_CONJUNTO_P.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/AGUA_VAZIA.xnb" Name="AGUA_VAZIA.xnb" Id="AGUA_VAZIA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/ESTANTE.xnb" Name="ESTANTE.xnb" Id="ESTANTE.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/FOGAO.xnb" Name="FOGAO.xnb" Id="FOGAO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/GELADEIRA.xnb" Name="GELADEIRA.xnb" Id="GELADEIRA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/GOTEIRA.xnb" Name="GOTEIRA.xnb" Id="GOTEIRA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PACOTES_COMAGUA.xnb" Name="PACOTES_COMAGUA.xnb" Id="PACOTES_COMAGUA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PACOTES_VERT.xnb" Name="PACOTES_VERT.xnb" Id="PACOTES_VERT.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PLACA_1ANDAR.xnb" Name="PLACA_1ANDAR.xnb" Id="PLACA_1ANDAR.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PLACA_2ANDAR.xnb" Name="PLACA_2ANDAR.xnb" Id="PLACA_2ANDAR.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PLACA_3ANDAR.xnb" Name="PLACA_3ANDAR.xnb" Id="PLACA_3ANDAR.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PLACA_4ANDAR.xnb" Name="PLACA_4ANDAR.xnb" Id="PLACA_4ANDAR.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PLACA_ALMOXARIFADO.xnb" Name="PLACA_ALMOXARIFADO.xnb" Id="PLACA_ALMOXARIFADO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PLACA_MOLHADO.xnb" Name="PLACA_MOLHADO.xnb" Id="PLACA_MOLHADO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PLACA_RECEPCAO.xnb" Name="PLACA_RECEPCAO.xnb" Id="PLACA_RECEPCAO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/PORTA_VIDRO.xnb" Name="PORTA_VIDRO.xnb" Id="PORTA_VIDRO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/SOFA.xnb" Name="SOFA.xnb" Id="SOFA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/SOFA_LADO.xnb" Name="SOFA_LADO.xnb" Id="SOFA_LADO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/SOFA_OUTROLADO.xnb" Name="SOFA_OUTROLADO.xnb" Id="SOFA_OUTROLADO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Agua/TILE_AGUA_SUBINDO.xnb" Name="TILE_AGUA_SUBINDO.xnb" Id="TILE_AGUA_SUBINDO.xnb" />
									</Component>
								</Directory>
								<Directory Id="Componentes" Name="Componentes">
									<Component Guid="8E85A086-64E2-40FE-9B14-CF5C8C46DDBC" Id="ComponenteSpritesComponentes" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Componentes/corda.xnb" Name="corda.xnb" Id="corda.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Componentes/FadeIn.xnb" Name="FadeIn.xnb" Id="FadeIn.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Componentes/FadeOut.xnb" Name="FadeOut.xnb" Id="FadeOut.xnb" />
									</Component>
								</Directory>
								<Directory Id="Esquemas" Name="Esquemas">
									<Component Guid="A21FC322-4BC8-48D5-859D-EE3593105762" Id="ComponenteSpritesEsquemas" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Esquemas/esquemas_agua.xnb" Name="esquemas_agua.xnb" Id="esquemas_agua.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Esquemas/esquemas_roldanas.xnb" Name="esquemas_roldanas.xnb" Id="esquemas_roldanas.xnb" />
									</Component>
								</Directory>
								<Directory Id="SpritesGeral" Name="Geral">
									<Component Guid="8A018615-7A37-4A0B-85A3-4FB0075C46E4" Id="ComponenteSpritesGeral" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXAS_CONJUNTO.xnb" Name="CAIXAS_CONJUNTO.xnb" Id="CAIXAS_CONJUNTO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_01.xnb" Name="CAIXA_01.xnb" Id="CAIXA_01.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_01_CIMA.xnb" Name="CAIXA_01_CIMA.xnb" Id="CAIXA_01_CIMA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_02.xnb" Name="CAIXA_02.xnb" Id="CAIXA_02.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_02_CIMA.xnb" Name="CAIXA_02_CIMA.xnb" Id="CAIXA_02_CIMA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_03.xnb" Name="CAIXA_03.xnb" Id="CAIXA_03.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_03_CIMA.xnb" Name="CAIXA_03_CIMA.xnb" Id="CAIXA_03_CIMA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_04.xnb" Name="CAIXA_04.xnb" Id="CAIXA_04.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_04_CIMA.xnb" Name="CAIXA_04_CIMA.xnb" Id="CAIXA_04_CIMA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CAIXA_04_CORDA.xnb" Name="CAIXA_04_CORDA.xnb" Id="CAIXA_04_CORDA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CHECKPOINT.xnb" Name="CHECKPOINT.xnb" Id="CHECKPOINT.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CRACHA.xnb" Name="CRACHA.xnb" Id="Geral.CRACHA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/CRACHA_HUD.xnb" Name="CRACHA_HUD.xnb" Id="Geral.CRACHA_HUD.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/ELEVADOR_BOTAO.xnb" Name="ELEVADOR_BOTAO.xnb" Id="ELEVADOR_BOTAO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/ELEVADOR_FUNDO_SHEET.xnb" Name="ELEVADOR_FUNDO_SHEET.xnb" Id="ELEVADOR_FUNDO_SHEET.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/ENGRENAGEM.xnb" Name="ENGRENAGEM.xnb" Id="ENGRENAGEM.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/ENGRENAGEM_HUD.xnb" Name="ENGRENAGEM_HUD.xnb" Id="ENGRENAGEM_HUD.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/LAMPADA.xnb" Name="LAMPADA.xnb" Id="LAMPADA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/LAMPADA_TETO_FINO.xnb" Name="LAMPADA_TETO_FINO.xnb" Id="LAMPADA_TETO_FINO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/LIXEIRA_SHEET.xnb" Name="LIXEIRA_SHEET.xnb" Id="LIXEIRA_SHEET.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/MANUTENCAO_PLACA.xnb" Name="MANUTENCAO_PLACA.xnb" Id="MANUTENCAO_PLACA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/MAQUINA_REFRI.xnb" Name="MAQUINA_REFRI.xnb" Id="MAQUINA_REFRI.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/MOEDA.xnb" Name="MOEDA.xnb" Id="MOEDA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/MOEDA_HUD.xnb" Name="MOEDA_HUD.xnb" Id="MOEDA_HUD.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/PORTA_FUNDO_SHEET.xnb" Name="PORTA_FUNDO_SHEET.xnb" Id="PORTA_FUNDO_SHEET.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/PORTA_QUE_SOBE.xnb" Name="PORTA_QUE_SOBE.xnb" Id="PORTA_QUE_SOBE.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Geral/REATOR_logo.xnb" Name="REATOR_logo.xnb" Id="REATOR_logo.xnb" />
									</Component>
								</Directory>
								<Directory Id="Inimigos" Name="Inimigos">
									<Component Guid="0C69B300-3DA7-4FD6-AD16-F71E95776D49" Id="ComponenteSpritesInimigos" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Inimigos/seguranca.xnb" Name="seguranca.xnb" Id="seguranca.xnb" />
									</Component>
								</Directory>
								<Directory Id="Interface" Name="Interface">
									<Component Guid="4975DF65-E8F8-4AEB-A26E-C7EC15CED9F0" Id="ComponenteSpritesInterface" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Interface/HUD_FINAL.xnb" Name="HUD_FINAL.xnb" Id="HUD_FINAL.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Interface/selecao.xnb" Name="selecao.xnb" Id="selecao.xnb" />
									</Component>
								</Directory>
								<Directory Id="SpritesMenus" Name="Menus">
									<Directory Id="Botoes" Name="Botoes">
										<Component Guid="9D378998-47E9-4C9D-9675-50609183F9B8" Id="ComponenteSpritesMenusBotoes" DiskId="1" KeyPath="yes">
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/cancelar.xnb" Name="cancelar.xnb" Id="cancelar.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/continue.xnb" Name="continue.xnb" Id="continue.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/controles.xnb" Name="controles.xnb" Id="controles.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/controles_pause.xnb" Name="controles_pause.xnb" Id="controles_pause.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/jogar.xnb" Name="jogar.xnb" Id="jogar.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/menu_inicial.xnb" Name="menu_inicial.xnb" Id="menu_inicial.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/opcoes.xnb" Name="opcoes.xnb" Id="opcoes.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/sair.xnb" Name="sair.xnb" Id="sair.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/sair_pause.xnb" Name="sair_pause.xnb" Id="sair_pause.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/tela_inteira.xnb" Name="tela_inteira.xnb" Id="tela_inteira.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Botoes/voltar.xnb" Name="voltar.xnb" Id="voltar.xnb" />
										</Component>
									</Directory>
									<Directory Id="Fundos" Name="Fundos">
										<Component Guid="5EEA72D2-D7B5-4680-B6F0-17877830D9CB" Id="ComponenteSpritesMenusFundos" DiskId="1" KeyPath="yes">
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Fundos/fundo_opcoes.xnb" Name="fundo_opcoes.xnb" Id="fundo_opcoes.xnb" />
											<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Menus/Fundos/fundo_pause.xnb" Name="fundo_pause.xnb" Id="fundo_pause.xnb" />
										</Component>
									</Directory>
								</Directory>
								<Directory Id="Personagem" Name="Personagem">
									<Component Guid="01C3562E-1F7A-41C3-BF62-2B3C3E9CFB30" Id="ComponenteSpritesPersonagem" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Personagem/personagem.xnb" Name="personagem.xnb" Id="personagem.xnb" />
									</Component>
								</Directory>
								<Directory Id="SpritesRoldanas" Name="Roldanas">
									<Component Guid="DEE490BB-7BC7-486F-8CEC-F97A6AFA1771" Id="ComponenteSpritesRoldanas" DiskId="1" KeyPath="yes">
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/BANCO_MADEIRA_SHEET.xnb" Name="BANCO_MADEIRA_SHEET.xnb" Id="BANCO_MADEIRA_SHEET.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/COFRE_SPRITE.xnb" Name="COFRE_SPRITE.xnb" Id="COFRE_SPRITE.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/GRADE_FORA.xnb" Name="GRADE_FORA.xnb" Id="GRADE_FORA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/MANIVELA.xnb" Name="MANIVELA.xnb" Id="MANIVELA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/PORTA_QUE_SOBE.xnb" Name="PORTA_QUE_SOBE.xnb" Id="Roldanas.PORTA_QUE_SOBE.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA.xnb" Name="ROLDANA.xnb" Id="ROLDANA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA_COMPLETA.xnb" Name="ROLDANA_COMPLETA.xnb" Id="ROLDANA_COMPLETA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA_COMPLETA_BAIXO.xnb" Name="ROLDANA_COMPLETA_BAIXO.xnb" Id="ROLDANA_COMPLETA_BAIXO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA_COMPLETA_TETO_FINO.xnb" Name="ROLDANA_COMPLETA_TETO_FINO.xnb" Id="ROLDANA_COMPLETA_TETO_FINO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA_HUD.xnb" Name="ROLDANA_HUD.xnb" Id="ROLDANA_HUD.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA_VAZIA.xnb" Name="ROLDANA_VAZIA.xnb" Id="ROLDANA_VAZIA.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA_VAZIA_BAIXO.xnb" Name="ROLDANA_VAZIA_BAIXO.xnb" Id="ROLDANA_VAZIA_BAIXO.xnb" />
										<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Sprites/Roldanas/ROLDANA_VAZIA_TETO_FINO.xnb" Name="ROLDANA_VAZIA_TETO_FINO.xnb" Id="ROLDANA_VAZIA_TETO_FINO.xnb" />
									</Component>
								</Directory>
							</Directory>
							<Directory Id="Telas" Name="Telas">
								<Component Guid="C0E53FA8-91D1-4785-A9A5-70F7886BBA04" Id="ComponenteTelas" DiskId="1" KeyPath="yes">
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Telas/FUNDO_agua.xnb" Name="FUNDO_agua.xnb" Id="FUNDO_agua.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Telas/FUNDO_IMA.xnb" Name="FUNDO_IMA.xnb" Id="FUNDO_IMA.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Telas/FUNDO_ROLDANAS.xnb" Name="FUNDO_ROLDANAS.xnb" Id="FUNDO_ROLDANAS.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Telas/telas_controles.xnb" Name="telas_controles.xnb" Id="telas_controles.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Telas/tela_continue.xnb" Name="tela_continue.xnb" Id="tela_continue.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Telas/tela_inicio.xnb" Name="tela_inicio.xnb" Id="tela_inicio.xnb" />
								</Component>
							</Directory>
							<Directory Id="Tilesets" Name="Tilesets">
								<Component Guid="B543D254-207A-41DB-99AB-23AA603D1F38" Id="ComponenteTilesets" DiskId="1" KeyPath="yes">
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Tilesets/SALA_DAS_ROLDANAS_SHEET.xnb" Name="SALA_DAS_ROLDANAS_SHEET.xnb" Id="SALA_DAS_ROLDANAS_SHEET.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Tilesets/SALA_DA_AGUA_SHEET.xnb" Name="SALA_DA_AGUA_SHEET.xnb" Id="SALA_DA_AGUA_SHEET.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Tilesets/SALA_DOS_ESPELHOS_SHEET.xnb" Name="SALA_DOS_ESPELHOS_SHEET.xnb" Id="SALA_DOS_ESPELHOS_SHEET.xnb" />
								</Component>
							</Directory>
							<Directory Id="Videos" Name="Videos">
								<Component Guid="70154D3F-93E2-45E5-AC9E-9180F8A38B51" Id="ComponenteVideos" DiskId="1" KeyPath="yes">
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Videos/Abertura.wmv" Name="Abertura.wmv" Id="Abertura.wmv" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Videos/Abertura.xnb" Name="Abertura.xnb" Id="Abertura.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Videos/Creditos.wmv" Name="Creditos.wmv" Id="Creditos.wmv" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Videos/Creditos.xnb" Name="Creditos.xnb" Id="Creditos.xnb" />
								</Component>
							</Directory>
							<Directory Id="Fonts" Name="Fonts">
								<Component Guid="098850FA-28FD-43C2-A240-9C733801AA71" Id="ComponenteFonts" DiskId="1" KeyPath="yes">
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Fonts/bitstreamCreditos.xnb" Name="bitstreamCreditos.xnb" Id="bitstreamCreditos.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Fonts/bitstreamMenu.xnb" Name="bitstreamMenu.xnb" Id="bitstreamMenu.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Fonts/Score_Miramonte.xnb" Name="Score_Miramonte.xnb" Id="Score_Miramonte.xnb" />
								</Component>
							</Directory>
							<Directory Id="Mapas" Name="Mapas">
								<Component Guid="793D0A52-DC18-401F-A899-4614BE5936EF" Id="ComponenteMapas" DiskId="1" KeyPath="yes">
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Agua.xnb" Name="Agua.xnb" Id="MapaAgua.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Agua_Inimigos.xnb" Name="Agua_Inimigos.xnb" Id="Agua_Inimigos.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Agua_Itens.xnb" Name="Agua_Itens.xnb" Id="Agua_Itens.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Inicio.xnb" Name="Inicio.xnb" Id="Inicio.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Inicio_Inimigos.xnb" Name="Inicio_Inimigos.xnb" Id="Inicio_Inimigos.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Inicio_Itens.xnb" Name="Inicio_Itens.xnb" Id="Inicio_Itens.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Roldanas.xnb" Name="Roldanas.xnb" Id="Roldanas.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Roldanas_Inimigos.xnb" Name="Roldanas_Inimigos.xnb" Id="Roldanas_Inimigos.xnb" />
									<File Source="$(sys.SOURCEFILEDIR)/../Content/Content/Mapas/Roldanas_Itens.xnb" Name="Roldanas_Itens.xnb" Id="Roldanas_Itens.xnb" />
								</Component>
							</Directory>
						</Directory>
						<Component Guid="41FCCBC1-1E71-451E-93A8-2DBCC6614B50" Id="ComponentePrincipal" DiskId="1">
							<File Source="$(sys.SOURCEFILEDIR)/../Content/CustomTextImporter.dll" Name="CustomTextImporter.dll" Id="Content.CustomTextImporter.dll" />
							<File Source="$(sys.SOURCEFILEDIR)/../Content/O Sistema.exe" Name="O Sistema.exe" Id="Content.O_Sistema.exe">
								<Shortcut Id="atalho" Name="O Sistema" Directory="MyGameProgramMenuSubFolder" />
								<Shortcut Id="atalhoDesktop" Name="O Sistema" Directory="DesktopFolder" />
							</File>
							<File Source="$(sys.SOURCEFILEDIR)/../Content/O Sistema.exe.manifest" Name="O Sistema.exe.manifest" Id="Content.O_Sistema.exe.manifest" />
							<RegistryValue Root="HKCU" KeyPath="yes" Key="SOFTWARE\Reator Multimidia\O Sistema" Name="atalho" Type="string" Value="sim" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>