<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="OutOfRbDiskDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
    		<Control Id="No" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Cancel="no" Text="[Button_No]">
      		<Publish Event="EndDialog" Value="Return">1</Publish>
      	</Control>
      	<Control Id="Yes" Type="PushButton" X="240" Y="243" Width="56" Height="17" Text="[Button_Yes]">
      		<Publish Event="EnableRollback" Value="False">1</Publish>
      		<Publish Event="EndDialog" Value="Return">1</Publish>
      	</Control>
      	<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" FixedSize="yes" TabSkip="no" Text="banner.bmp" />
      	<Control Id="Text" Type="Text" X="20" Y="53" Width="330" Height="40">
      		<Text>Os volumes destacados nao tem espaco em disco disponivel suficiente para os recursos selecionados.  Voce pode remover alguns arquivos dos volumes destacados, escolher instlar menos recursos no disco local ou selecionar um local diferente para a instalacao.</Text>
      	</Control>
      	<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="2" />
      	<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="2" />
      	<Control Id="Description" Type="Text" X="20" Y="20" Width="280" Height="20" Transparent="yes" NoPrefix="yes">
      		<Text>O espaco em disco requerido para esta instalacao e superior ao espaco em disco disponivel no momento.</Text>
      	</Control>
      	<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
      		<Text>[TitleFont]Espaco em disco insuficiente</Text>
      	</Control>
      	<Control Id="Text2" Type="Text" X="20" Y="94" Width="330" Height="40">
      		<Text>Alternativamente, voce pode escolher desabilitar a funcionalidade de desfazer deste instalador.  Isto permite que o instalador restaure o seu computador ao estado original se a instalacao for interrompida de qualquer forma. Clique em Sim se voce deseja correr o risco de desabilitar a restauracao.</Text>
      	</Control>
    	</Dialog>
    </UI>
  </Fragment>
</Wix>

