<?xml version="1.0"?>
<?include "../Config.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ShaderWarningDialog" Width="260" Height="134" Title="[ProductName] [Setup]" NoMinimize="yes">
    		<Control Id="NotDetectedText" Type="Text" X="20" Y="19" Width="221" Height="32">
      		<Text>Esta instalacao nao pode detectar uma placa aceleradora grafica com suporte ao shader minimo especificado em seu computador.</Text>
      	</Control>
      	<Control Id="RequiresShadersText" Type="Text" X="20" Y="53" Width="221" Height="20">
      		<Text>A aplicacao que voce esta tentando instalar requer que sua placa grafica suporte pelo menos o shader model $(var.RequiredShaderModel).</Text>
      	</Control>
      	<Control Id="ContinueAnywayText" Type="Text" X="20" Y="82" Width="221" Height="10">
      		<Text>Quer continuar assim mesmo? (nao recomendado)</Text>
      	</Control>
      	<Control Id="No" Type="PushButton" X="185" Y="106" Width="56" Height="17" Default="yes" Cancel="no" Text="Cancelar">
      		<Publish Event="EndDialog" Value="Exit">1</Publish>
      	</Control>
      	<Control Id="Yes" Type="PushButton" X="85" Y="106" Width="98" Height="17" Text="Continuar assim mesmo">
      		<Publish Event="EndDialog" Value="Return">1</Publish>
      	</Control>
    	</Dialog>
    </UI>
  </Fragment>
</Wix>

